<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{SUBJECT}</title>
    <style>
      div {
        background-color: rgb(37, 32, 32);
      }
      h1 {
        color: red;
        font-weight: bold;
      }
      p {
        color: rgb(78, 236, 236);
      }
      span {
        font-style: italic;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>Hello {NAME},</h1>
      <p>
        Thanks for biding on <span>{BIDTITLE}</span>, with the amount of
        {BIDAMMOUNT}.
      </p>
    </div>
  </body>
</html>
